/* --- Main Page Layout --- */
.index_body{
    overflow: hidden;
}
.main_lower
{
    background-image: url('images/main_pattern2.png');
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
}
.div1 {
    height: 100%;
    width: 20%;
}
.div1-images{
    width: auto;
    height: 97%;
}
.div2 {
    background-image: url('images/main_gold.jpg');
    background-repeat:repeat;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: rgb(18, 19, 5);
    border: 6px solid rgb(0, 0, 0);
    box-sizing: border-box;
    
}

/* --- Plans Page --- */
.plans_body{
    overflow: auto;
}
.plans_row {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 עמודות */
    grid-auto-rows: 215px; /* גובה אחיד לכל ריבוע */
    gap: 30px;
    padding: 20px;
    background-image: url('images/main_pattern2.png');
    background-color: rgb(18, 19, 5);
    border: 6px solid rgb(0, 0, 0);
    box-sizing:border-box;
}

.plans_div1, .plans_div2, .plans_div3, .plans_div4 , .plans_div5 , .plans_div6{
    width: 100%;
    height:100%;
    margin-left: 10px;
    margin-top: 10px;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 4%;
    background-color: rgb(90, 99, 50);
    background-image: url('images/main_heist.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(255, 253, 127);
    text-shadow: 
        -1px -1px 0 rgb(0, 0, 0),
        1px -1px 0 rgb(0, 0, 0),
        -1px  1px 0 rgb(0, 0, 0),
        1px  1px 0 rgb(0, 0, 0);
}
.plans_div1{
background-image: url('images/plan1_start.png');
}
.plans_div2{
background-image: url('images/plan2_start.png');
}
.plans_div3{
background-image: url('images/plan3_start.png');
}
.plans_div4{
background-image: url('images/plan4_start.png');
}   
.plans_div5{
background-image: url('images/plan5_start.png');
}   
 .plans_div6{
background-image: url('images/plan6_start.png');
}   
.plans_not_ready
{
    width: 100%;
    height:100%;
    margin-left: 10px;
    margin-top: 10px;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 4%;
    background-color: rgb(90, 99, 50);
    background-image: url('images/wip.png');
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(255, 253, 127);
    text-shadow: 
        -1px -1px 0 rgb(0, 0, 0),
        1px -1px 0 rgb(0, 0, 0),
        -1px  1px 0 rgb(0, 0, 0),
        1px  1px 0 rgb(0, 0, 0);
}
.plans_div1:hover, 
.plans_div2:hover, 
.plans_div3:hover, 
.plans_div4:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

/* --- Video Modal --- */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #817e51;
    border-radius: 5px;
    padding: 10px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-content video {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.close {
    position: sticky;
    color: #aaa;
    font-size: 40px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #ff0202;
}
